<script type="text/ejs" id="simple">
	<div id="dataBindTest">
		<span data-h5-bind="test">バインド前</span>
	</div>
</script>

<script type="text/ejs" id="bindTest1">
	<div id="dataBindTest">
		<span data-h5-bind="test"></span>
		<p data-h5-bind="test2"></p>
		<div>
			<pre data-h5-bind="test2"></pre>
		</div>
	</div>
</script>

<script type="text/ejs" id="bindSpan">
	<span data-h5-bind="test"></span>
</script>

<script type="text/ejs" id="variableType">
	<div id="dataBindTest">
		<span data-h5-bind="dataNull"></span>
		<span data-h5-bind="dataUndef"></span>
		<span data-h5-bind="dataStr"></span>
		<span data-h5-bind="dataNum"></span>
		<span data-h5-bind="dataNaN"></span>
		<span data-h5-bind="dataInf"></span>
		<span data-h5-bind="dataMInf"></span>
		<span data-h5-bind="dataAry"></span>
		<span data-h5-bind="dataObj"></span>
		<span data-h5-bind="dataFunc"></span>
	</div>
</script>

<script type="text/ejs" id="objectNest">
	<div id="dataBindTest">
		<span data-h5-bind="test">バインド無し</span>
		<span data-h5-bind="test2">バインド無し</span>
		<div data-h5-context="obj">
			<span data-h5-bind="test">バインド無し</span>
			<span data-h5-bind="test2">バインド無し</span>
			<div data-h5-context="obj">
				<span data-h5-bind="test">バインド無し</span>
				<span data-h5-bind="test2">バインド無し</span>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="object1">
	<div id="dataBindTest">
		<div data-h5-context="obj">
			<span data-h5-bind="html:v5;text:v1;v2;attr(id):v3;style(color):v4;class:v1"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="object2">
	<div id="dataBindTest">
		<div data-h5-context="obj">
			<span style="color:red;" id="domA" class="hoge" data-h5-bind="html:v5;text:v1;v2;attr(id):v3;style(color):v4;class:v1">testtest</span>
		</div>
	</div>
</script>

<script type="text/ejs" id="object3">
	<div id="dataBindTest">
		<span data-h5-bind="html:v1;text:v2"></span>
	</div>
</script>

<script type="text/ejs" id="object4">
	<div id="dataBindTest">
		<span class="c1 c2 c3" data-h5-bind="class:v1"></span>
	</div>
</script>

<script type="text/ejs" id="loopContext1">
	<div id="dataBindTest">
		<ul data-h5-loop-context="items">
			<li data-h5-bind="test"></li>
		</ul>
	</div>
</script>

<script type="text/ejs" id="loopContext2">
	<div id="dataBindTest">
		<ul data-h5-loop-context="items">
			<li data-h5-bind="test"></li>
			<li>
				<ul data-h5-loop-context="ary">
					<li data-h5-bind="test"></li>
				</ul>
			</li>
		</ul>
	</div>"
</script>

<script type="text/ejs" id="itemBind1">
	<div id="dataBindTest">
		<span data-h5-bind="str"></span>
		<span data-h5-bind="num"></span>
	</div>
</script>

<script type="text/ejs" id="itemBind2">
	<div id="dataBindTest">
		<div data-h5-loop-context="ary">
			<span data-h5-bind="test"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind3">
	<div id="dataBindTest">
		<span data-h5-bind="str"></span>
		<span data-h5-bind="num"></span>
		<div data-h5-context="any">
			<span data-h5-bind="str"></span>
			<span data-h5-bind="num"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind4">
	<div id="dataBindTest">
		<div data-h5-loop-context="any">
			<span data-h5-bind="test"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind5">
	<div id="dataBindTest">
		<span data-h5-bind="str"></span>
		<span data-h5-bind="num"></span>
		<div data-h5-context="obj">
			<span data-h5-bind="a"></span>
		</div>
		<div data-h5-context="item">
			<span data-h5-bind="str"></span>
			<span data-h5-bind="num"></span>
		</div>
		<div data-h5-loop-context="ary">
			<span data-h5-bind="a"></span>
		</div>
		<div data-h5-loop-context="oAry">
			<span data-h5-bind="a"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind7">
	<div id="dataBindTest">
		<div data-h5-context="item">
			<div data-h5-loop-context="ary">
				<span class="loop1" data-h5-bind="test"></span>
			</div>
			<div data-h5-loop-context="ary2">
				<span class="loop2" data-h5-bind="test"></span>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind8">
	<div id="dataBindTest">
		<div data-h5-context="item">
			<span data-h5-bind="test"></span>
		</div>
	</div>
</script>

<script type="text/ejs" id="itemBind9">
	<div id="dataBindTest">
		<div data-h5-context="item">
			<div data-h5-bind="val"></div>
			<div data-h5-context="data">
				<span data-h5-bind="test"></span>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="id">
	<div id="dataBindTest">
		<span data-h5-bind="attr(id):id">before</span>
	</div>
</script>

<script type="text/ejs" id="id2">
	<div id="dataBindTest">
		<span data-h5-bind="attr:id">before</span>
	</div>
</script>

<script type="text/ejs" id="class">
	<div id="dataBindTest">
		<span class="testClass" data-h5-bind="class:cls">test</span>
	</div>
</script>

<script type="text/ejs" id="style">
	<div id="dataBindTest">
		<span data-h5-bind="style(margin-left):marginLeft" style="display:block;margin-left:22px"></span>
		<span data-h5-bind="style(margin):margin" style="display:block;margin-left:22px"></span>
	</div>
</script>

<script type="text/ejs" id="style2">
	<div id="dataBindTest">
		<span data-h5-bind="style:color"></span>
	</div>
</script>

<script type="text/ejs" id="text">
	<div id="dataBindTest">
		<span data-h5-bind="text:test"></span>
	</div>
</script>

<script type="text/ejs" id="html">
	<div id="dataBindTest">
		<span data-h5-bind="html:test"></span>
	</div>
</script>

<script type="text/ejs" id="invalidDef">
	<div id="dataBindTest">
		<span data-h5-bind="hoge:id"></span>
	</div>
</script>

<script type="text/ejs" id="nodata">
	<div id="dataBindTest">
		<div data-h5-bind=""></div>
	</div>
</script>

<script type="text/ejs" id="ejsBind">
	<div id="dataBindTest">
		<span data-h5-bind="[%= value %]"></span>
		<p data-h5-bind="attr(id):ejs" id="[%= value  %]"></p>
	</div>
</script>

<script type="text/ejs" id="comment1">
	<div id="dataBindTest">
		<!--{h5view id="item"} <span data-h5-bind="text;class:cls"></span> -->
	</div>
</script>

<script type="text/ejs" id="comment2">
	<div id="dataBindTest">
		<!--{h5view id="item"}
			<span data-h5-bind="v1"></span>
			<span data-h5-bind="v2"></span>
			<div data-h5-context="item">
				<span data-h5-bind="v1"></span>
				<span data-h5-bind="v2"></span>
			</div>
		 -->
	</div>
</script>

<script type="text/ejs" id="comment3">
	<div id="dataBindTest">
		<!--{h5view id="item"}
			<ul data-h5-loop-context="items">
				<li data-h5-bind="test">
			</ul>
		-->
	</div>
</script>

<script type="text/ejs" id="inputtext1">
	<div id="inputtext1">
		<!--{h5view id="item"}
			<div data-h5-context="items">
				<input type="text" id="txt1" data-h5-bind="txt1" />
				<INPUT TYPE="TEXT" ID="txt2" DATA-H5-BIND="txt2" />
				<input type="text" id="txt3" data-h5-bind="attr(value):txt3" />
			</div>
		-->
	</div>
</script>

<script type="text/ejs" id="inputcheck1">
	<div id="dataBindTest">
		<!--{h5view id="item"}
			<div data-h5-context="items">
				<input type="checkbox" id="txt1" data-h5-bind="attr(checked):check1" />
				<INPUT TYPE="checkbox" ID="txt2" DATA-H5-BIND="attr(checked):check2" />
			</div>
		-->
	</div>
</script>

<script type="text/ejs" id="inputcheck2">
	<div id="dataBindTest">
		<!--{h5view id="item"}
			<div data-h5-context="items">
				<input type="checkbox" id="txt1" data-h5-bind="attr(checked):check1" />
				<div data-h5-context="items2">
					<input type="checkbox" id="txt2" data-h5-bind="attr(checked):check1" />
				</div>
			</div>
		-->
	</div>
</script>

<script type="text/ejs" id="nestloop1">
	<div id="dataBindTest">
		<div data-h5-loop-context="items">
			<div data-h5-loop-context="ar">
				<span data-h5-bind="val"></span>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="nestloop2">
	<div id="dataBindTest">
		<div data-h5-loop-context="items">
			<div data-h5-loop-context="ar">
				<span data-h5-bind="val"></span>
			</div>
			<div data-h5-loop-context="ar2">
				<span data-h5-bind="val"></span>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="clone1">
	<div id="dataBindTest">
		<div data-h5-context="item">
			<div data-h5-context="data">
				<span class="class1" data-h5-bind="txt;class:cn;attr(id):at;style(display):st"></span>
				<div>
					<div data-h5-bind="html:txt2"></div>
				</div>
			</div>
		</div>
	</div>
</script>