@charset 'utf-8';

.errorMsg {
	font-weight: bold;
	color: #f00;
}

.groupSample.has-error {
	border: 1px solid #ff0000;
}

.validateIconWrapper>* {
	display: none;
}

.success .validateIconWrapper .icon-success {
	display: inline-bolck;
}

.has-error .validateIconWrapper .icon-error {
	display: inline-block;
}

.validating .validateIconWrapper .icon-validating {
	display: inline-block;
	animation: switchtext 0.25s infinite alternate;
}
.validateIndicatorWrapper{
	float:left;
	-ms-transform: scale(0.5);
	-wabkit-transform: scale(0.5);
	transform: scale(0.5);
}

@keyframes switchtext {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0;
	}
}